* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    min-height:100vh;
    width: 100%; 
    background: linear-gradient(30deg, #cedeea, #9aa9e4);
}
.bayan{
    max-width: 30vw;
    margin: 0 auto; 
    padding:0.5em 1em;
    text-align: center; 
}
.accordion{
    margin: 0 auto;
    max-width: 30vw;
    width: 100%;
    height: auto;
    border: 1px solid #495db0;
    position:static;
    color:blue;
    font-weight: 600;
}
.markers {
    display: none;
  }
 label {
    background: #fff;
    padding: 1em;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #495db0;
    position: static;
  }
  .caret{
    opacity: 0;
  }
  section {
    max-height: 0;
    overflow: hidden;
    position: static;
    transition: max-height 1s;
  }
   section img {
    width:100%;
    padding:0.5em 2em;
    transition: max-height 1s;
  }
  label:hover ~ section {
    display: block;
    cursor: pointer;
    max-height: 100vh;
    transition: 2s ease;
  }
  input:checked ~ section {
    transition: 2s ease;
  }
  .markers:checked + label+ section {
    max-height: 450vh;
    transition: max-height 1.5s;
  }
  input:checked ~label>.caret {
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .accordion:hover .caret{
    opacity: 1;
  }
  .accordion:hover .title{
    color:black;
    transition: 0.5s;
  }
  input:checked ~label{
    color:black;
    transition: 0.5s ease;
  }


