* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    min-height:100vh;
    width: 100%; 
    background: linear-gradient(30deg, #cedeea, #9aa9e4);
}
.bayan{
    max-width: 30vw;
    margin: 0 auto; 
    padding:0.5em 1em;
    text-align: center; 
}
.accordion{
    margin: 0 auto;
    max-width: 30vw;
    width: 100%;
    height: auto;
    border: 1px solid #495db0;
    position:static;
    color:blue;
    font-weight: 600;
}
/* .accordion .content{
  padding: 0 30px;
  color: rgba(0, 0, 0, 0);
  background-color: #BFE2FF;
  transition: color 1s, padding 1s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acordion label {
  transition: color 1s;
} */
.markers {
    display: none;
  }
 label {
    background: #fff;
    padding: 1em;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #495db0;
    /* transition: all 0.3s ease; */
  }
  .content {
    max-height: 0;
    overflow: hidden;
    position:static;
    /* transition: all 0.3s ease; */
  }
  .content img {
    width:100%;
    padding:0.5em 2em;
  }
  .markers:checked + label+ .content {
    max-height: 100%;
  }
  input:checked ~label>.caret {
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .accordion:hover .title{
    color:black;
    transition: 0.3s;
  }
  input:checked ~label{
    color:black;
    transition: 0.3s;
  }
  input:checked ~.content {
    transition: all 0.3s ease !important;
  }
  /* .accordion section{
    position: relative;
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.5s linear;
  }
  .accordion input:checked ~ section{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.5s linear;
} */

